{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated is False %}
        <script>
            function pageRedirect() {
                window.location.replace(`{% url 'login' %}`);
            }  
            pageRedirect();
        </script>
    {% endif %}
    <!-- Board info bar -->
    <section class="board-info-bar container-fluid" >

        <div class="board-controls" ng-controller="ScrumboardController">
            {% verbatim %}
            <button class="board-title btn" >
                    <h2 style="color:white;" ng-repeat="currproject in currprojects">{{ currproject.name }}</h2>
            </button>
            {% endverbatim %}

            <button class="star-btn btn" aria-label="Star Board">
                <i class="far fa-star" aria-hidden="true" style="color:white;"></i>
            </button>

        </div>
    </section>
    <!-- End of board info bar -->
    <!-- Lists container -->
    {% verbatim  %}
    <section class="lists-container container-fluid" ng-controller="ScrumboardController">
        <div class="row" style="width:100%">
            <div class="col-md-3 col-sm-4 col-12" ng-repeat="list in data" style="padding-top:10px;">
                <div class="list">

                    <div class="list-title">
                        <small>{{list.name}}</small>
                        <i class="del-btn fas fa-trash-alt float-right" data-toggle="modal" data-target="#deleteModal{{ list.id }}"></i>
                    </div>

                    <ul class="list-items">
                        <li ng-repeat="card in list.cards">
                            <scrumboard-card>
                            </scrumboard-card>
                        </li>
                    </ul>

                    <input class="add-card-btn tbtn" type="text" placeholder="Add a card" ng-model="new_title" />
                    <button ng-click="new_title=add(list,new_title)">+</button>

                </div>

                <!--Modal-->
                <div class="modal fade" id="deleteModal{{ list.id }}">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">

                            <!-- Modal Header -->
                            <div class="modal-header">
                            <h3 class="modal-title" style="font-size:17px;">Do you want to delete the list?</h3>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            
                            <!-- Modal body -->
                            <div class="modal-body" style="font-size:12px;">
                            All the cards inside it will be deleted as well.
                            </div>
                            
                            <!-- Modal footer -->
                            <div class="modal-footer">
                            <button ng-click="deletelist(list,data)" type="button" class="btn btn-danger" id="deleteModalbtn" data-dismiss="modal" style="font-size:13px;" >Yes</button>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4 col-12" style="padding-top:10px;">
                <div class="list">
                    <input type="text" class="add-list-btn tbtn placeholderwhite" placeholder="Add a list" ng-model="list_name"/>
                    <button ng-click="list_name=addlist(data,list_name)">+</button>
                </div>
            </div>

        </div>
    </section>
    {% endverbatim %}
{% endblock content %}
